<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
          content="width=device-width,user-scalable=no">

        <link href="/static/iconfont/iconfont.css" rel="stylesheet">

</head>
<body>
<div id="app" class="app"></div>
{#{{ user.username }}   office<a href="/logout/">logout</a>#}
</body>
    <script>
        window.office= {
            'id':'{{ user.office.id }}',
            'name':'{{ user.office.office_name }}'
        }
        window.user= {
            'id':'{{ user.id }}',
            'name':'{{ user.username }}'
        }
        window.type = {
            center:false,
            office:true,
            school:false
        }
    </script>
    <script src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>

   <script type="text/javascript" src="http://localhost:6060/office.js"></script>