<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpHandlers>
            <add name="Python FastCGI"
                 path="*"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor='D:/program/py352/python.exe|E:/2018-3/projects/pro/wfastcgi.py"
                 resourceType="Unspecified"
                 requireAccess="Script"
             />
        </httpHandlers>
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="E:\2018-3\projects\pro>" />
        <add key="DJANGO_SETTINGS_MODULE" value="pro.settings" />
    </appSettings>
</configuration>

