<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/iconfont/iconfont.css" rel="stylesheet">
         <link href="/static/exam/css/center.css" rel="stylesheet"></link>
</head>
<body>
<div class="app" id="app"></div>
</body>
<script>
        window.user= {
            'id':'{{ user.id }}',
            'name':'{{ user.username }}'
        }
</script>
    <script src="/static/exam/js/manifest.js"></script>
     <script src="/static/exam/js/vendor.js"></script>

    <script src="/static/exam/js/center.js"></script>
{#    <script type="text/javascript" src="http://localhost:6060/center.js"></script>#}
</html>


